
  @import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');


   



div{

color: blueviolet;
font-size: 70px;
font-weight: 400;
font-family: 'Poor Story', system-ui;

}




p{
    color: pink;
}